form{
font-family: sans-serif;



}
body{ 
font-family: sans-serif;

}

produto-container {
display:flex ;
width: 100%;
justify-content: space-around;
}
@media screen and (  max-width: 768px) {  
    .produto-container{
        width: 100%;
        flex-direction: column;
    }
    
}
img {
    width: 100%;
    height: auto;
}